$text-color: #757575;
$title-color: #212121;
$blue-color: #2196f3;
$logo-color: #000000;
$white-color: #ffffff;
$footer-color: #2f303a;
$footer-address-color: rgba(255, 255, 255, 0.6);
$feature-icon-color: #f5f4fa;

$font-family: Roboto, sans-serif;
$letter-spacing: 0.03em;

$text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

$box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

$feature-item-padding: 90px;

$footer-border: 1px solid rgba(255, 255, 255, 0.1);
