.header-logo {
  margin-right: 85px;

  @include logo();
  font-size: 26px;
  color: $logo-color;
}
.logo-blue-part {
  color: $blue-color;
}
.footer-logo {
  @include logo();
  font-size: 22px;
  color: $white-color;

  margin: 0;
  margin-bottom: 8px;
}
