:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0;
}

/*! modern-normalize v0.7.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  background-color: #ffffff;
  color: #757575;
  padding-top: 80px;
  margin: 0px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.page-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  color: #212121;
}

.header-logo {
  margin-right: 85px;
  font-family: Raleway;
  font-weight: 700;
  line-height: 1.17;
  font-size: 26px;
  color: #000000;
}

.logo-blue-part {
  color: #2196f3;
}

.footer-logo {
  font-family: Raleway;
  font-weight: 700;
  line-height: 1.17;
  font-size: 22px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 8px;
}

.section-hero {
  display: none;
}

.features {
  margin-top: 60px;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
    margin-top: 94px;
    margin-bottom: 94px;
  }
}

.feature-item {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .feature-item {
    width: calc((100% - 2 * 30px) / 2);
    height: 251px;
    margin-right: 15px;
    margin-left: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .feature-item {
    width: calc((100% - 4 * 30px) / 4);
  }
}

.feature-item:nth-child(-n + 3) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .feature-item:nth-child(-n + 3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .feature-item:nth-child(-n + 3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature-item:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

.features-title {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.feature-title-box {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .feature-title-box {
    text-align: start;
  }
}

.feature-title {
  margin-top: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #212121;
}

.feature-text {
  font-size: 14px;
  line-height: 1.71;
  margin: 0;
  margin-top: 10px;
}

.feature-icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-content: center;
  background-color: #f5f4fa;
  height: 120px;
  margin: 0;
  border-radius: 4px;
}

.feature-icon {
  width: 70px;
  height: 70px;
}

.services {
  display: none;
}

@media screen and (min-width: 1200px) {
  .services {
    display: block;
    margin-bottom: 94px;
  }
}

@media screen and (min-width: 1200px) {
  .services-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: -15px;
    margin-top: 50px;
    padding-left: 0;
  }
  .services-item {
    position: relative;
    width: 370px;
    margin: 15px;
  }
  .page-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: #212121;
  }
  .services {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    color: #ffffff;
  }
  .service-background {
    position: absolute;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    bottom: 0;
    left: 0;
    width: 370px;
    height: 70px;
    padding-top: 27px;
    padding-bottom: 27px;
    background: rgba(47, 48, 58, 0.8);
  }
  .services-title {
    text-transform: uppercase;
  }
}

.our-team {
  margin: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .our-team {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 94px;
    padding-bottom: 94px;
    margin-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
    padding-bottom: 24px;
    margin-top: 50px;
    margin-bottom: 0px;
  }
}

.team-list-item {
  width: 100%;
  padding-bottom: 24px;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .team-list-item {
    width: calc((100% - 2 * 30px) / 2);
    margin-right: 15px;
    margin-left: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list-item {
    width: calc((100% - 4 * 30px) / 4);
    margin-right: 15px;
    margin-left: 15px;
  }
}

.team-list-item:nth-child(-n + 3) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team-list-item:nth-child(-n + 3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team-list-item:nth-child(-n + 3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .team-list-item:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .team-list-item:nth-child(-n + 2) {
    margin-bottom: 0;
  }
}

.team-list-item img {
  width: 100%;
}

.team-text {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.19;
}

.name {
  margin-top: 30px;
  color: #212121;
  font-weight: 500;
}

.social-media-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px;
  margin-top: 16px;
}

.social-media-list li:not(:last-child) {
  margin-right: 10px;
}

.social-media-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-box:hover .social-media-icon {
  fill: #ffffff;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.social-media-box:focus .social-media-icon {
  fill: #ffffff;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.social-media-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100px;
  width: 44px;
  height: 44px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-box:hover, .social-media-box:focus {
  background-color: #2196f3;
}

.our-clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: -15px;
}

@media screen and (min-width: 1200px) {
  .our-clients {
    margin-top: 50px;
  }
}

.our-clients li {
  width: calc((100% - 2 * 30px) / 2);
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .our-clients li {
    width: calc((100% - 3 * 30px) / 3);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .our-clients li {
    width: calc((100% - 6 * 30px) / 6);
    margin: 15px;
  }
}

.clients-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-box:hover {
  border-color: #2196f3;
}

.company-icon {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-box:hover .company-icon {
  fill: #2196f3;
}

.clients-box:focus .company-icon {
  fill: #2196f3;
}

.our-clients .first {
  width: 44px;
  height: 49px;
}

.our-clients .second {
  width: 40px;
  height: 52px;
}

.our-clients .third {
  width: 41px;
  height: 43px;
}

.our-clients .fourth {
  width: 80px;
  height: 42px;
}

.our-clients .fifth {
  width: 59px;
  height: 47px;
}

.our-clients .sixth {
  width: 88px;
  height: 45px;
}

footer {
  text-align: center;
  background-color: #2f303a;
  margin-top: 60px;
}

@media screen and (min-width: 1200px) {
  footer {
    text-align: start;
    margin-top: 94px;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
}

@media screen and (min-width: 768px) {
  .tablet-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .tablet-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .tablet-footer div:last-child {
    margin-left: 69px;
  }
}

.footer-invitations-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .footer-invitations-list {
    margin: 0;
  }
}

.footer-invitations-list li:not(:last-child) {
  margin-right: 10px;
}

.footer-address {
  margin-top: 20px;
  margin-bottom: 60px;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-address {
    margin: 0;
    text-align: start;
  }
}

.street-address {
  color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.street-address:hover, .street-address:focus {
  color: #2196f3;
}

.footer-contact {
  color: rgba(255, 255, 255, 0.6);
  margin-top: 8px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact:hover, .footer-contact:focus {
  color: #2196f3;
}

.footer-form {
  margin-top: 60px;
}

@media screen and (min-width: 768px) {
  .footer-form {
    margin-top: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer-invitations {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .footer-invitations {
    margin-bottom: 20px;
    text-align: start;
  }
}

.subscribe-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 200px;
  height: 50px;
  margin: auto;
  margin-top: 20px;
  padding: 10px 29px;
  border-radius: 4px;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: #ffffff;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .subscribe-button {
    margin: 0px;
  }
}

.footer-subscribe-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.developer-name {
  display: none;
}

.footer-sm-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-content: center;
  border-radius: 100px;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-sm-box:hover, .footer-sm-box:focus {
  background-color: #2196f3;
}

.footer-sm-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.footer-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: start;
  padding: 15px;
  min-width: 450px;
  height: 50px;
  margin-top: 20px;
  background-color: transparent;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
  .footer-input {
    margin: auto;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-input {
    margin-right: 12px;
    min-width: 358px;
  }
}

.page-filter {
  padding: 6px 22px;
  border: transparent;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  color: #212121;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-filter:hover, .page-filter:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.projects {
  margin-top: 60px;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .projects {
    margin-top: 93px;
    margin-bottom: 94px;
  }
}

.projects h1 {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.projects-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: -15px;
}

@media screen and (min-width: 768px) {
  .projects-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .projects-list {
    margin: auto;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.projects-list > li {
  margin-top: 15px;
}

@media screen and (min-width: 768px) {
  .projects-list > li {
    margin: 0;
  }
}

.projects-list > li:not(:last-child) {
  margin-right: 8px;
}

.project-examples {
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .project-examples {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .project-examples {
    margin-bottom: 50px;
  }
}

.projects-examples-item {
  padding-bottom: 20px;
  width: 100%;
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .projects-examples-item {
    width: calc((100% - 2 * 30px) / 2);
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .projects-examples-item {
    width: calc((100% - 3 * 30px) / 3);
  }
}

.projects-examples-item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .projects-examples-item:not(:last-child) {
    margin-bottom: 0px;
  }
}

.projects-examples-title {
  margin: 20px 24px 0px 24px;
}

@media screen and (min-width: 768px) {
  .projects-examples-title {
    width: auto;
    height: auto;
  }
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

@media screen and (min-width: 768px) {
  .portfolio-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.project-examples-type {
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
  margin: 0px;
  margin-top: 4px;
}

.projects-examples-img {
  position: relative;
  overflow: hidden;
}

.projects-examples-img::before {
  display: inline-block;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-examples-img:hover::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.projects-examples-item > a:focus .projects-examples-img::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.projects-examples-img img {
  width: 100%;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-examples-img:hover .project-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.projects-examples-item > a:focus .project-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project-examples-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 77px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .project-examples-text {
    margin: 49px 24px;
    width: auto;
    height: auto;
  }
}

@media screen and (min-width: 1200px) {
  .project-examples-text {
    margin: 63px 24px;
  }
}
/*# sourceMappingURL=main.css.map */